.what-st {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  margin-top: 40px;
  background-color: #d9d9d9;
  border-radius: 20px;
}
