#pt {
  background-color: rgb(88, 89, 76);
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #333;
}

/* our business */
#our_business {
  width: 1300px;
  height: 100vh;
  padding-top: 100px;
  margin: auto;
}
#our_business h2 {
  display: flex;
  font: 600 3.8rem "Poppins", serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 40px;
}
#our_business h2 + p {
  font-weight: bold;
}
#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
  border: 4px solid #fff;
}
#btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bolder;
}
#btn button:hover {
  background-color: rgb(89, 108, 101);
  color: white;
}
/* 슬라이드 */
#slide {
  width: 3900px;
  display: flex;
  position: relative;
  margin: auto;
  left: -1300px;
}
#slide section {
  width: 1300px;
  height: 60vh;
  display: flex;
  border: 3px solid #fff;
  opacity: 0.3;
  transform: scale(0.6);
  transition: all 1s;
}

#slide section .pt-st-1 {
  width: 100%;
  padding: 20px 10px 20px 10px;
}

#slide section .pt-st-1 h4 {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  margin-bottom: 20px;
}

#slide section .pt-st-1 h4 > .h4-txt {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  padding: 0px 10px 0 10px;
}

#slide section .pt-st-1 h4 > .h4-ln {
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#slide section .pt-st-1 h3 {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 400;
  border: 1px solid black;
  margin-bottom: 10px;
}

#slide section .pt-st-1 p {
  padding-left: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

#slide section .pt-st-1 > .ts {
  border: 1px solid black;
  margin-bottom: 20px;
}

#slide section .pt-st-1 > .ts > span {
  font-size: 20px;
  padding: 0 5px 0 5px;
  color: #fff;
}

#slide section .pt-st-1 > .ic-box {
  position: absolute;
  bottom: 10px;
  border: 1px solid black;
}

.pt-st-txt-box {
  top: 50%;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  background-color: #d9d9d9;
  color: #58594c;
  margin-bottom: 20px;
  padding: 20px;
}

#slide section.active {
  opacity: 1;
  transform: scale(1);
}
#slide section > img {
  width: 450px;
}

.pt-imgBox {
  position: relative;
  border: 1px solid black;
  padding: 0 10px 0 10px;
}

.pt-imgBox-sd {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.pt-imgBox:hover > .pt-imgBox-sd {
  display: none;
}

#slide section > div {
  flex: 1;
}

#slide section p + div {
  border: 1px solid #fff;
}
#slide section span {
  display: inline-block;
  border-radius: 50px;
  font-weight: bold;
  font-size: 0.8rem;
  color: #333;
}

.test {
  background-color: black;
}

/* auto scroll */

.mockup {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.scroll-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  transition: transform 1s linear;
}

.scroll-container img {
  width: 100%;
  display: block;
}
