#pt {
  background-color: rgb(88, 89, 76);
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #333;
}

/* our business */
#our_business {
  width: 1300px;
  height: 100vh;
  padding-top: 100px;
  margin: auto;
}
#our_business h2 {
  display: flex;
  font: 600 3.8rem "Poppins", serif;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 40px;
}

.pt-main-txt {
  display: flex;
  margin-left: 20px;
}

#pt-count {
  position: relative;
  bottom: 2.5px;
  margin-left: 10px;
}

#our_business h2 + p {
  font-weight: bold;
}
#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}
#btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 3px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bolder;
}
#btn button:hover {
  background-color: rgb(89, 108, 101);
  color: white;
}
/* 슬라이드 */
#slide {
  width: 9100px;
  display: flex;
  position: relative;
  margin: auto;
  left: -1300px;
}
#slide section {
  width: 1300px;
  height: 60vh;
  display: flex;
  opacity: 0.3;
  transform: scale(0.6);
  transition: all 1s;
}

#slide section .pt-st-1 {
  position: relative;
  width: 100%;
  padding: 20px 10px 20px 10px;
}

#slide section .pt-st-1 h4 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#slide section .pt-st-1 h4 > .h4-txt {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  padding: 0px 10px 0 10px;
}

#slide section .pt-st-1 h4 > .h4-ln {
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#slide section .pt-st-1 h3 {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

#slide section .pt-st-1 p {
  padding-left: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}

#slide section .pt-st-1 > .ts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#slide section .pt-st-1 > .gb {
  flex-direction: column;
  align-items: start;
}

#slide section .pt-st-1 > .ts > div > span {
  font-size: 20px;
  padding: 0 5px 0 5px;
  color: #fff;
}

.gb .ic-box {
  position: absolute;
  right: 0;
}

.ic-box {
  padding-right: 10px;
}

.pt-st-txt-box {
  display: flex;
  top: 50%;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
  padding: 20px;
  overflow: auto;
}

.side-pt {
  flex-direction: column;
}

.side-pt > span {
  position: relative;
}

.side-ic {
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.side-ic > span {
  position: relative;
}

.side-ic > .side-github-ic {
  width: 30px;
  height: 30px;
  margin-right: 1px;
  background-image: url("../img/icon/github-ic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.side-ic > span > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.side-ic > .side-new-ic {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon/open_in_new_main-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.side-pt > span:not(:last-child) {
  margin-bottom: 15px;
}

.pt-st-txt-box > span {
  color: #58594c;
  line-height: 30px;
}

#slide section.active {
  opacity: 1;
  transform: scale(1);
}
#slide section > img {
  width: 450px;
}

.pt-imgBox {
  position: relative;
  padding: 0 10px 0 10px;
}

.pt-imgBox-sd {
  position: absolute;
  width: 97%;
  height: 100%;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
}

.pt-imgBox:hover > .pt-imgBox-sd {
  display: none;
}

#slide section > div {
  flex: 1;
}

#slide section span {
  display: inline-block;
  border-radius: 50px;
  font-weight: bold;
  color: #333;
}

/* auto scroll */

.mockup {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.scroll-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.scroll-container.soop {
  transition: transform 1s linear;
}

.scroll-container.hygi {
  transition: transform 4s linear;
}

.scroll-container.tour-web {
  transition: transform 3s linear;
}

.scroll-container.nike {
  transition: transform 5s linear;
}

.scroll-container.gcp {
  transition: transform 1s linear;
}

.scroll-container.side {
  transition: transform 1.5s linear;
}

.scroll-container img {
  width: 100%;
  display: block;
}
