* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgb(88, 89, 76);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 150px;
  right: 250px;
  width: 100px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#menu-btn > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 15px 0;
}

#menu-btn > li > a {
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/white-btn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#menu-btn > .act > a {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/white-btn-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* 스크롤 */

.scroll-icon {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 68px;
  height: 68px;
  background-image: url("../img/icon/scroll-white-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: dy-Img 1.5s infinite ease-in-out;
}
/* 스크롤 숨기기 */
.fp-viewing-btn-4 .scroll-icon {
  display: none;
}

.menu {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 500;
}

.menu > li {
  position: relative;
  padding: 20px 30px;
  top: 0;
  transition: 0.5s;
}

.menu > li.on {
  top: -100px;
}

.menu > li:not(:last-child) {
  margin-right: 20px;
}

.menu > li > a {
  position: relative;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.menu-ln {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 2.5px;
  background-color: #fff;
}

.menu-ln.on {
  display: block;
}

/* 동적인 이미지 */
@keyframes dy-Img {
  0% {
    bottom: 20px; /* 애니메이션 시작 위치 */
  }
  50% {
    bottom: 10px; /* 내려가는 끝 위치 */
  }
  100% {
    bottom: 20px; /* 올라가는 위치 */
  }
}

/* 오류 처리 */
.what-md-st1-txt {
  display: none;
}

.what-md-ub {
  dominant-baseline: none;
}

.what-md-st2 {
  display: none;
}

.what-md-st3 {
  display: none;
}
/* 모바일 숨길 태그 */
.st1-box3 {
  display: none;
}

.mb-br {
  display: none;
}

.mb-dis-non {
  display: block;
}

.de-non {
  display: none;
}

/* 모바일 */
@media (max-width: 768px) {
  .de-non {
    display: block;
  }

  .de-br {
    display: none;
  }

  .mb-dis-non {
    display: none;
  }

  #menu-btn {
    z-index: 1000;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
  }

  .menu {
    width: 100%;
    justify-content: end;
    padding: 15px;
  }

  .menu > li {
    display: none;
  }

  .white-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon/white-menu-btn.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
    padding: 20px;
  }

  /* 모바일 메뉴 반응형 구현 시작 */
  .menu {
    opacity: 0;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(88, 89, 76);
    transition: 0.4s;
    visibility: hidden;
  }

  .menu.on {
    opacity: 1;
    visibility: visible;
  }

  .menu > li {
    display: block;
    padding: 30px;
  }

  .menu > li > a {
    font-size: 24px;
  }

  .menu > .close-btn-white {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background-image: url("../img/icon/close-btn-white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    padding: 20px;
  }

  /* 모바일 스크롤 이미지 */
  .scroll-icon {
    width: 160px;
    height: 68px;
    background-image: url("../img/icon/slide-scroll-ic.png");
  }
  /* 모바일 메뉴 반응형 구현 끝 */
}
