#what {
  position: relative;
  background-color: rgb(89, 108, 101);
}

div .section.fp-table.active .what-modal-box {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

div .section.fp-table.active .what-modal {
  margin-top: 40px;
  position: absolute;
  width: 1000px;
  height: 550px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  font-size: 35px;
  background-color: blue;
  animation: what-md 1.5s ease-in-out forwards;
}

@keyframes what-md {
  0% {
    right: 0%;
  }

  100% {
    right: 50%; /* 올라가는 위치 */
    transform: translateX(50%);
  }
}
