#who {
  background-color: rgb(88, 89, 76);
}

.who-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.who-st1 {
  width: 35%;
  height: 100%;
  padding: 20px;
}

.who-st2 {
  position: relative;
  width: 65%;
  height: 100%;
}

.intro {
  width: 82%;
  top: 150px;
  right: 15px;
  position: absolute;
}

.intro-con > span {
  display: block;
}

.intro-txt-emp {
  position: relative;
  color: rgb(75, 58, 36);
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 20px;
}

/* 애니메이션 */
div .section.fp-table.active .intro-txt-emp {
  animation: txt-move 1.5s ease-in-out;
}

.txt-emp {
  color: rgb(75, 58, 36);
}

.intro-txt-nom {
  position: relative;
  font-size: 25px;
  color: rgb(89, 108, 101);
  font-weight: bolder;
  line-height: 35px;
  margin-bottom: 20px;
}

div .section.fp-table.active #nom-1 {
  animation: txt-move 1.5s ease-in-out;
}

div .section.fp-table.active #nom-2 {
  animation: txt-move 1.5s ease-in-out;
}

.who-bt {
  position: absolute;
  width: 100%;
  height: 230px;
  bottom: 0;
  background-color: rgb(89, 108, 101);
}

.who-pf {
  position: absolute;
  overflow: hidden;
  left: 220px;
  bottom: 155px;
  width: 300px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 20px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pf-auto {
  position: absolute;
  top: 56%;
  width: 100%;
  height: 150px;
  z-index: 1000;
}

/* 움직이는 배너 style */
.wrap {
  display: flex;
  overflow: hidden;
}
.wrap .rolling-list ul {
  display: flex;
}
.wrap .rolling-list ul li {
  display: flex;
  width: 270px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 16px;
  flex-shrink: 0;
}

.wrap .rolling-list ul li .desc {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrap .rolling-list ul li .desc .desc-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}

.wrap .rolling-list ul li .desc .desc-img-box .desc-img {
  position: relative;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: ba-Img 1.5s infinite ease-in-out;
}

.desc-img.lin {
  background-image: url("../img/banner/linecom.png");
}

.desc-img.bd-uv {
  background-image: url("../img/banner/bd-university.png");
}

.desc-img.hj {
  background-image: url("../img/banner/hanjin-ic.png");
}

.desc-img.ds {
  background-image: url("../img/banner/dshare-ic.png");
}

.desc-img.cj {
  background-image: url("../img/banner/cjfoodville.png");
}

.desc-img.inha-uv {
  background-image: url("../img/banner/univarsity.svg");
}

.wrap .rolling-list ul li .desc .desc-txt-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.wrap .rolling-list ul li .desc .desc-txt-box > div {
  margin-bottom: 3px;
}

.rolling-list.original {
  animation: rollingleft1 60s linear infinite;
}
.rolling-list.clone {
  animation: rollingleft2 60s linear infinite;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* 동적인 이미지 */
@keyframes ba-Img {
  0% {
    bottom: 0px; /* 애니메이션 시작 위치 */
  }
  50% {
    bottom: 10px; /* 내려가는 끝 위치 */
  }
  100% {
    bottom: 0px; /* 올라가는 위치 */
  }
}

@keyframes txt-move {
  0% {
    bottom: -100px; /* 애니메이션 시작 위치 */
    opacity: 0;
  }

  100% {
    bottom: 0px; /* 올라가는 위치 */
    opacity: 1;
  }
}

.de-br {
  display: block;
}

/* 모바일 */
@media (max-width: 768px) {
  /* <br class="mb-br"/> */

  .de-br {
    display: none;
  }

  .mb-br {
    display: block;
  }

  .who-layout {
    flex-direction: column;
  }

  .intro {
    width: 100%;
    top: 0;
    right: 0;
    padding: 20px 20px 20px 20px;
  }

  .intro-con > span {
    font-size: 16.5px;
  }

  .intro-txt-nom {
    line-height: 23px;
    color: #800020;
  }

  .txt-emp {
    color: rgba(255, 255, 255, 0.8);
  }

  div .section.fp-table.active .intro-txt-emp {
    display: none;
  }

  .who-st1 {
    position: relative;
    width: 100%;
    padding: 65px 20px 0px 20px;
    order: 1;
  }

  .who-st2 {
    position: relative;
    width: 100%;
    order: 2;
  }

  .who-pf {
    position: relative;
    top: 0%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

  .pf-auto {
    bottom: 0;
    height: auto;
  }

  .who-bt {
    height: 205px;
  }

  .wrap {
    display: none;
  }

  .wrap .rolling-list ul li .desc .desc-img-box .desc-img {
    width: 40px;
    height: 40px;
  }

  .wrap .rolling-list ul li {
    width: 200px;
  }

  .desc-txt-box {
    font-size: 14px;
  }
}
